@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    background-color: #F0E9D2;
    padding: 0;
    margin: 0;
}

h1 {
    color: #f70000;
    font-size: 36px;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-left: 1em;
}

nav {
    margin-bottom: 2em;
}

h1,
ul,
h2 {
    text-align: center;
    justify-content: center;
}

h2 {
    color: #678983;
}

h3 {
    color: #008f76;
}

section {
    text-align: center;
}

figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.content-start {
    margin-bottom: 1em;
}

.about-info {
    margin-left: 1em;
    text-align: start;
}